<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Account Created Successfully!</h1>
<br>
<h2>Details</h2>
<p>First name: <span th:text="${user.firstName}"></span></p>
<p>Last name: <span th:text="${user.lastName}"></span></p>
<p>Gender: <span th:text="${user.gender}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<p>Username: <span th:text="${user.username}"></span></p>
<br>
<h3><a th:href="@{/users/login}">Go to Login</a></h3>

</body>
</html>