<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users Management</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- static/css/style.css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Header Navigation -->
<div th:insert="~{fragments/header :: header}"></div>

<!-- Create button link -->
<a th:href="@{/users/createUser}"
   class="btn btn-primary">
    Create User
</a>

<!-- To do list Table -->
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">User ID</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Username</th>
        <th scope="col">Created Date</th>
        <th scope="col">Modified Date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tempUsers : ${users}">
        <th th:text="${tempUsers.userId}"></th>
        <td th:text="${tempUsers.firstName}"></td>
        <td th:text="${tempUsers.lastName}"></td>
        <td th:text="${tempUsers.username}"></td>
        <!-- <td th:text="${#dates.format(tempTodo.todoStartDate, 'dd-MM-yyyy')}"></td>
        <td th:text="${#dates.format(tempTodo.todoEndDate, 'dd-MM-yyyy')}"></td> -->
        <td th:text="${#dates.format(tempUsers.createdDate, 'dd MMMM yyyy')}"></td>
        <td th:text="${#dates.format(tempUsers.modifiedDate, 'dd MMMM yyyy')}"></td>
        <td><button type="button" class="btn btn-success">Update</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Footer -->
<div th:insert="~{fragments/header :: header}"></div>

</body>
</html>