<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footer</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Bootstrap footer -->
<footer class="footer fixed-bottom bg-dark text-white" style="height: calc(0.5in - 1px);">
    <div class="container text-center">
        &copy; 2024 TodoExpense. All rights reserved.
    </div>
</footer>

<!-- Bootstrap JS -->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>


</body>
</html>