<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <!-- External link for Thymeleaf x CSS-->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <!-- <link rel="stylesheet" th:href="@{../static/css/style.css}" />
     -->
</head>
<body>

<!-- Create Account Form -->
<div class="container">
    <h1 class="mb-5 text-center">Create Account</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form th:action="@{/createAccount}" th:object="${createUser}" method="POST">
                <div class="mb-3">
                    <label for="createFirstName" class="form-label">First Name</label>
                    <input type="text"
                           class="form-control"
                           id="createFirstName"
                           placeholder="Enter your first name"
                           th:field="*{createFirstName}">
                    <p th:if="${#fields.hasErrors('createFirstName')}"
                       th:errors="*{createFirstName}"
                       class="error">
                    </p>
                </div>
                <div class="mb-3">
                    <label for="createLastName" class="form-label">Last Name</label>
                    <input type="text"
                           class="form-control"
                           id="createLastName"
                           placeholder="Enter your last name"
                           th:field="*{createLastName}">
                    <p th:if="${#fields.hasErrors('createLastName')}"
                       th:errors="*{createLastName}"
                       class="error">
                    </p>
                </div>
                <div class="mb-3">
                    <label for="createGender" class="form-label">Gender</label>
                    <select class="form-select" id="createGender" th:field="*{createGender}">
                        <option value="">Select gender</option>
                        <option th:each="tempGender : ${genders}"
                                th:value="${tempGender}"
                                th:text="${tempGender}">
                        </option>
                    </select>
                    <p th:if="${#fields.hasErrors('createGender')}"
                       th:errors="*{createGender}"
                       class="error">
                    </p>
                </div>
                <div class="mb-3">
                    <label for="createEmail" class="form-label">Email Address</label>
                    <input type="text"
                           class="form-control"
                           id="createEmail"
                           placeholder="Enter your email address"
                           th:field="*{createEmail}">
                    <p th:if="${#fields.hasErrors('createEmail')}"
                       th:errors="*{createEmail}"
                       class="error">
                    </p>
                </div>
                <div class="mb-3">
                    <label for="createUsername" class="form-label">Username</label>
                    <input type="text"
                           class="form-control"
                           id="createUsername"
                           placeholder="Enter your username"
                           th:field="*{createUsername}">
                    <p th:if="${#fields.hasErrors('createUsername')}"
                       th:errors="*{createUsername}"
                       class="error">
                    </p>
                </div>
                <div class="mb-3">
                    <label for="createPassword" class="form-label">New Password</label>
                    <input type="password"
                           class="form-control"
                           id="createPassword"
                           placeholder="Enter your password"
                           th:field="*{createPassword}">
                    <p th:if="${#fields.hasErrors('createPassword')}"
                       th:errors="*{createPassword}"
                       class="error">
                    </p>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>