<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Account</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <!-- External link for Thymeleaf x CSS-->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<!--
<p th:text="'Time on the server is ' + ${theDate}" class="test"></p>
-->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Login</h3>
                </div>
                <div class="card-body">

                    <form th:action="@{/processLoginForm}" th:object="${user}" method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   placeholder="Enter your username"
                                   th:field="*{loginUsername}">
                                <p th:if="${#fields.hasErrors('loginUsername')}"
                                   th:errors="*{loginUsername}"
                                   class="error">
                                </p>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Enter your password"
                                   th:field="*{loginPassword}">
                                <p th:if="${#fields.hasErrors('loginPassword')}"
                                   th:errors="*{loginPassword}"
                                   class="error">
                                </p>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
                <!-- button for creating an account with modal -->
                <div class="card-footer text-center">
                    <!--
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createAccountModal">
                        Create New Account</button>
                     Button trigger modal -->
                    <a th:href="@{/createAccount}" class="btn btn-success">Create New Account</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Comment & Hide Create account form -->
<!-- Create Account Modal
<div class="modal fade" id="createAccountModal" tabindex="-1" aria-labelledby="createAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAccountModalLabel">Create Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/processCreateAccount}" th:object="${user}"  method="POST">
                    <div class="mb-3">
                        <label for="createFirstName" class="form-label">First Name</label>
                        <input type="text"
                               class="form-control"
                               id="createFirstName"
                               placeholder="Enter your first name"
                               th:field="*{createFirstName}">
                    </div>
                    <div class="mb-3">
                        <label for="createLastName" class="form-label">Last Name</label>
                        <input type="text"
                               class="form-control"
                               id="createLastName"
                               placeholder="Enter your last name"
                               th:field="*{createLastName}">
                    </div>
                    <div class="mb-3">
                        <label for="createGender" class="form-label">Gender</label>
                        <select class="form-select" id="createGender" th:field="*{createGender}">
                            <option value="">Select gender</option>
                            <option th:each="tempGender : ${genders}"
                                    th:value="${tempGender}"
                                    th:text="${tempGender}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="createEmail" class="form-label">Email Address</label>
                        <input type="email"
                               class="form-control"
                               id="createEmail"
                               placeholder="Enter your email address"
                               th:field="*{createEmail}">
                    </div>
                    <div class="mb-3">
                        <label for="createUsername" class="form-label">Username</label>
                        <input type="text"
                               class="form-control"
                               id="createUsername"
                               placeholder="Enter your username"
                               th:field="*{createUsername}">
                    </div>
                    <div class="mb-3">
                        <label for="createPassword" class="form-label">New Password</label>
                        <input type="password"
                               class="form-control"
                               id="createPassword"
                               placeholder="Enter your password"
                               th:field="*{createPassword}">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
-->


<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>