<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Record Expense Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- static/css/style.css  -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h1 class="mb-5 text-center">Create Account</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Insert form-->
            <form th:action="@{/recordExpense}" th:object="${recordExpense}" method="POST">
                <div class="mb-3">
                    <label for="recordExpenseDate" class="form-label">Expense Date</label>
                    <input type="date"
                           class="form-control"
                           id="recordExpenseDate"
                           th:field="*{recordExpenseDate}">
                    <p th:if="${#fields.hasErrors('recordExpenseDate')}"
                       th:errors="*{recordExpenseDate}"
                       class="error">
                    </p>
                </div>
                <div class="mb-3">
                    <label for="recordExpenseDesc" class="form-label">Description</label>
                    <input type="text"
                           class="form-control"
                           id="recordExpenseDesc"
                           placeholder="Enter description"
                           th:field="*{recordExpenseDesc}">
                    <p th:if="${#fields.hasErrors('recordExpenseDesc')}"
                       th:errors="*{recordExpenseDesc}"
                       class="error">
                    </p>
                </div>
                <div class="mb-3">
                    <label for="recordExpenseRemarks" class="form-label">Remarks</label>
                    <textarea class="form-control"
                              id="recordExpenseRemarks" rows="3"
                              placeholder="Enter remarks"
                              th:field="*{recordExpenseRemarks}">
                    </textarea>
                </div>
                <div class="mb-3">
                    <label for="recordModeOfPayment" class="form-label">Mode of Payment</label>
                    <select class="form-select" id="recordModeOfPayment" th:field="*{recordModeOfPayment}">
                        <option value="">Select payment</option>
                        <option th:value="Cash">Cash</option>
                        <option th:value="Debit">Debit Card</option>
                        <option th:value="Credit">Credit Card</option>
                        <option th:value="Transfer">Bank Transfer</option>
                        <option th:value="Mobile">Mobile Payment</option>
                        <option th:value="Online">Online Payment</option>
                        <option th:value="Prepaid">Prepaid Card</option>
                    </select>
                    <p th:if="${#fields.hasErrors('recordModeOfPayment')}"
                       th:errors="*{recordModeOfPayment}"
                       class="error">
                    </p>
                </div>
                <div class="mb-3">
                    <label for="recordAmount" class="form-label">Price</label>
                    <input type="text"
                           class="form-control"
                           id="recordAmount"
                           placeholder="Enter the amount"
                           th:field="*{recordAmount}">
                    <p th:if="${#fields.hasErrors('recordAmount')}"
                       th:errors="*{recordAmount}"
                       class="error">
                    </p>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Save Record</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>